#realtime{
    background-color: rgba(242, 247, 240, 0.8);
    display: flex;
    height: 100vh;
    padding-top: 50px;
}
#body-language{
    margin-bottom: -150px !important;
}

#grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    width: 80%;
    margin: 10px auto auto auto;
    
}
.grid-item-top {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgb(196, 196, 196);
    border-radius: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-row: 1;
    transition: transform .2s, box-shadow .3s; 
}
.grid-item-top:hover{
    transform: scale(1.02); 
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
.grid-item-bottom {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgb(196, 196, 196);
    border-radius: 10px;    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-row: 2;
    transition: transform .2s, box-shadow .3s;

}
.grid-item-bottom:hover{
    transform: scale(1.02); 
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

#talk-data{
    background-image: linear-gradient(red, yellow);
}

#voice canvas{
    width: 100% !important; 
    margin-top: 45px;
    height: 200px;
}

#filler {
    margin-top: 70px;
}
#filler div {
    font-size: 90px;
    color: #4AC29A;
}
.description {
    float: left;
}

#cam {
    border-radius: 10px;
    padding: 0px;
    overflow: hidden;
    width: -webkit-fill-available;
}

#cam video {
    width: auto;
    height: 400px;
    margin-bottom: -50px;
}

.happy{
    color: #4AC29A;
    width: 100px;
    font-size: 90px;
    margin-top: 60px;  
}
.happyText{
    color: #4AC29A;
    text-transform:capitalize;
}
.sad{
    color: rgb(194, 74, 74);
    width: 100px;
    font-size: 90px;
    margin-top: 60px;  
}
.sadText{
    color: rgb(194, 74, 74);
    text-transform:capitalize;
}
.neutral{
    color: rgb(196, 196, 196);
    width: 100px;
    font-size: 90px;
    margin-top: 60px;  
}
.neutralText{
    color: rgb(196, 196, 196);
    text-transform:capitalize;
}